body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  margin-top: 40px;
}

.center {
  text-align: center;
}

#gamearea {
  border: 1px solid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.left-bordered {
  border-left: 1px solid #f1f1f1;
  padding-left: 20px;
  min-height: 50vh;
}

td, th {
  padding-left: 20px !important;
}

td:first-child:hover {
  background-color: #33C3F0;
  color: #FFF;
  cursor: pointer;
}

button.green {
  background-color: green;
  border-color: green;
}
button.green:hover {
  background-color: #60b044;
  border-color: #60b044;
}

input.playername {
  margin-right: 20px;
}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;
}
::-moz-placeholder {
   font-style: italic;
}

button[disabled=disabled], button:disabled, input[disabled=disabled], input:disabled,
input:disabled:hover, button:disabled:hover {
  background-color: #EEE;
  border: none;
}
